Iterating (for loop) - On List, Tuple, Set, Dictionary

In [ ]:
#List
n_list = ["Abhay","Bhavesh","Siddhant","Kiran"]
for x in n_list:
  print(x)

print("")

#tuple
a_tuple=[39,"Rushi","mango"]
for y in a_tuple:
  print(y)

print("")


#dictionary
c_dict = {
    'a1':'Rahul',
    'b2':'Shubham',
    'c3':'Kunal',
    'd4':'Rushi',
}

for x,y in c_dict.items():
  print(x,y)

print("")
#Set
x_set = {24,'Rushi','Kunal'}
for z in x_set:
  print(z)

Abhay
Bhavesh
Siddhant
Kiran

39
Rushi
mango

a1 Rahul
b2 Shubham
c3 Kunal
d4 Rushi

24
Rushi
Kunal

Indexing

In [ ]:
#indexing in list
fruits=['apple','banana','pineapple','cherry']
x=fruits.index('pineapple')
print(x)

print("")
#indexing in tuple
tuple=("c","e","l","e","b","a","l")
print(tuple.index("c"))
print(tuple.index("l"))

2

0
2

Negative indexing in list

In [ ]:
#negative indexing in list
n_list=['C','E','L','E','B','A','L']
#first item
print(n_list[-7])
#last item 
print(n_list[-1])

C
L

Sets in python

In [ ]:
#set of integers
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

Membership tests(in ,not in)

In [ ]:
#first we will see use of in membership operator

name=['R','U','S','H','I']
ch = input('Please Enter a Capital Letter:')

if ch in name:
    print('You entered a correct character')
else:
    print('You entered a wrong character')

Please Enter a Capital Letter:U
You entered a correct character

In [ ]:
# Membership test(not in)
list = [10, 20, 30, 40, 50 ];
x = input('Please Enter the number:')

if ( x not in list ):
   print("x is NOT present in given list")
else:
   print("x is  present in given list")

Please Enter the number:24
x is NOT present in given list

Accessing Nested List using Slicing

In [ ]:
#List
l1 = [21,43,15,[34,64,77]]
print(l1)
print(l1[3][0])

print("")

#Tuple
s1 = (12,43,['rushi','kunsl'])

print(s1[2][0])

[21, 43, 15, [34, 64, 77]]
34

rushi

Built-in functions for lists

In [ ]:
#an empty list
empty_list=[]
 
#a list of strings
str_list=['this', 'is', 'rushi', 'here']
 
# add an element to the end of the list
str_list.append('sanjivani')
print(str_list)
 
#insert an item at the defined index
str_list.insert(3,'COE')
print(str_list)
 
#to get the index of the first matched item
print(str_list.index('is'))

['this', 'is', 'rushi', 'here', 'sanjivani']
['this', 'is', 'rushi', 'COE', 'here', 'sanjivani']
1